@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 10px;
  background: #2481c7;
}

::selection {
  color: #fff;
  background: #675afe;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-t-30 {
  padding-top: 30px;
}

.opacity-0 {
  opacity: 0;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.mr-10 {
  margin-right: 10px;
}
