.wrapper {
  width: 30em;
  padding: 3em;
  border-radius: 8px;
  background: #fff;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.05);
}

.wrapper header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
}

.wrapper p {
  font-size: 18px;
  margin-bottom: 5px;
}

.wrapper input {
  height: 40px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}

.wrapper input:focus {
  padding: 0 14px;
  border: 2px solid #675afe;
}

.wrapper .drop-list {
  width: 90%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box {
  display: flex;
  border: 1px solid #999;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}

.drop-list .select-box select {
  outline: none;
  border: none;
  border-radius: 5px;
}

.amount input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
}

.select-box img {
  max-width: 21px;
}

.select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar {
  width: 8px;
}

.select-box select::-webkit-scrollbar-track {
  background: #fff;
}

.select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.drop-list .icon {
  width: 30px;
  margin-top: 30px;
  font-size: 22px;
}

.wrapper .exchange-rate {
  font-size: 17px;
  margin: 20px 0 30px;
}

.wrapper button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #675afe;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
}

.wrapper button:hover {
  background: #4534fe;
}

.submit-data-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner-wrapper {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 400ms;
}

.loading-spinner {
  width: 80%;
  animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 18em;
    padding: 15px;
  }
}
